.tasksHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--gray-400);
  padding-bottom: 2rem;
}

@media (max-width: 600px) {
  .tasksHeader {
    gap: 0.5rem;
    flex-direction: column;
  }
}

.tasksHeaderInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .tasksHeaderInfo {
    justify-content: space-between;
  }
}

.tasksCountLabelBlue {
  color: var(--blue);
}

.tasksCountLabelPurple {
  color: var(--purple);
}

.tasksCount {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.75rem;
}
